[Unit]
Description=Portfolio contact backend
After=network.target

[Service]
User=kevintruong
Group=www-data
WorkingDirectory=/srv/kevin/projects/portfolio/backend
EnvironmentFile=/srv/kevin/config/env/portfolio.env
ExecStart=/home/kevintruong/.nvm/versions/node/v22.5.1/bin/node /srv/kevin/projects/portfolio/backend/contact.js
Restart=always

[Install]
WantedBy=multi-user.target
